@media (max-width: 1300px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }

    .catalog {
        grid-template-columns: repeat(3, 270px) !important;
        column-gap: 100px;
    }

    header {
        width: 100%;
        height: 860px !important;
    }

    .a1 {
        width: 400px;
        height: 300px;
    }

    nav ul {
        display: none;
    }

    nav {
        .icon11 {
            display: block;
        }

        .list {
            display: block;
        }
    }

    .dropdown {
        display: none;
    }

    .inputs {
        display: none;
    }

    .shadow {
        display: none;
    }

    .header-intro {
        flex-direction: column;
    }

    .middle-content {
        text-align: center;
    }

    .internal {
        text-align: center;
        margin: auto;
    }

    .header-intro {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

}


$sm: 576px;
$md: 920px;
$lg: 1400px;